body{
	padding:30px;
	height:2000px;
}
.block{
	border:5px solid red;
	max-width: 800px
	margin:0 auto;
	background-color: blue;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	font-weight: 70px

}
.block1{
	background-color: #7733ff;
	position: sticky;
	top:0;
}
.block2{
	background-color: #2c2972;
}
.block3{
	background-color: blue;
	position: sticky;
	top:0;
}